## TO RUN:

# pip install --no-cache-dir -r requirements.txt

## CONFIRM INSTALL:

# Whole pip list from my environment:

accelerate==0.27.2
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
attrs==25.3.0
auto_gptq==0.7.1
bitsandbytes==0.46.1
certifi==2025.7.14
charset-normalizer==3.4.2
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
datasets==4.0.0
dill==0.3.8
filelock==3.18.0
fonttools==4.59.0
frozenlist==1.7.0
fsspec==2025.3.0
gekko==1.3.0
huggingface-hub==0.34.1
idna==3.10
Jinja2==3.1.3
kiwisolver==1.4.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.8.4
mdurl==0.1.2
mpmath==1.3.0
multidict==6.6.3
multiprocess==0.70.16
networkx==3.5
numpy==1.26.4
packaging==25.0
pandas==2.2.2
peft==0.10.0
pillow==11.3.0
pip==24.0
propcache==0.3.2
psutil==7.0.0
pyarrow==21.0.0
Pygments==2.19.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
rich==13.6.0
rouge==1.0.1
safetensors==0.4.2
scipy==1.11.4
seaborn==0.13.2
sentencepiece==0.1.99
setuptools==65.5.0
six==1.17.0
sympy==1.14.0
tokenizers==0.19.1
torch==2.2.1+cu118
torchaudio==2.2.1+cu118
torchvision==0.17.1+cu118
--extra-index-url https://download.pytorch.org/whl/cu118
tqdm==4.66.4
transformers==4.40.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
xxhash==3.5.0
yarl==1.20.1
